*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.Santhosh{
    font-size: 1.lem;
    color: antiquewhite;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.lem;
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}
 .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform.5s;
 }
 .navigation a:hover:after{
    transform: scaleX(1);
 }
/*.navigation .btnLogin-popup {
    width: 50px;
    height: 30px;
    background: transparent;
    border: 3px solid;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 3.lem;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}
.navigation .btnLogin-popup:hover {
    color: #162938;
}
*/
body{
    background: url('pic2.jpg') no-repeat center center/cover;
}

.form{
    display: flex ;
    flex-direction: column;
    height: 450px;
    width: 400px;
    border: 1px solid rgb(188, 171, 171);
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(108, 100, 100, 0.5);
    box-shadow: inset -5px -5px rgba(108, 100, 100, 0.5);
    border-radius: 25px;
}
.form h1{
    color: white;
    font-size: 2rem;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
    margin: 50px;
}
.box{
    padding: 12px;
    margin: 20px;
    width: 65%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1rem;
}
.btn{
    padding: 10px 20px;
    margin-top: 10px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}
.remember-forget {
    font-size: .8rem;
    color: white;
    font-weight: 400;
    margin: -7px 0 7px;
    justify-content: space-between;
}
.remember-forget label input{
    accent-color: rgb(65, 47, 169);
    margin-right: 3px;
}
.remember-forget a {
    color: blue;
    text-decoration: none;
    font-weight: 400;
}
.remember-forget a:hover{
    text-decoration: underline;
}
.login-Register{
    font-size: .8em;
    color: white;
    text-align: center;
    font-weight: 400;
    margin: 15px 0 10px;
    justify-content: space-between;
}
.login-Register p a{
    color: blue;
    text-decoration: none;
    font-weight: 400;
}
.login-Register p a:hover{
    text-decoration: underline;
}
.btn{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

::placeholder{
    color: white;
    opacity: 0.7;
}